html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1; /* Firefox */
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Microsoft Edge */
::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

body {
    min-height: 100%;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 24px 24px 0;
    background: rgb(1, 38, 80);
    background: -moz-linear-gradient(top, rgb(1, 38, 80) 0%, rgb(58, 87, 166) 100%);
    background: -webkit-linear-gradient(top, rgb(1, 38, 80) 0%, rgb(58, 87, 166) 100%);
    background: linear-gradient(to bottom, rgb(1, 38, 80) 0%, rgb(58, 87, 166) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#012650', endColorstr='#3a57a6', GradientType=0);
}

input[type="text"] {
    padding: 0 24px;
    height: 48px;
    border-radius: 5px;
    border: 0;

    &:focus {
        outline: 0;
        border: 1 solid rgb(58, 87, 166);
    }
}
