.searchHistory {
    margin-top: 48px;
    padding: 24px 0;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;

    .historyList {
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }

    .historyItem {
        margin-bottom: 12px;

        @media screen and (min-width: 768px) {
            margin-top: 0;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }

        .inner {
            position: relative;
            max-width: 650px;
            margin: auto;
            padding: 12px 100px 12px 30px;

            @media screen and (min-width: 768px) {
                padding: 12px 100px 12px 60px;
            }
        }

        h6 {
            margin: 0;
            font-size: 18px;
            font-weight: normal;

            @media screen and (min-width: 768px) {
                font-size: 22px;
            }
        }

        time {
            display: inline-block;
        }

        &:not(:hover) {
            button {
                &:not(:focus):not(:active) {
                    @media screen and (min-width: 768px) {
                        width: 1px;
                        height: 1px;
                        margin: -1px;
                        white-space: nowrap;
                        clip-path: inset(100%);
                        clip: rect(0 0 0 0);
                        overflow: hidden;
                    }
                }
            }
        }

        button {
            position: absolute;
            background: #793A53;
            cursor: pointer;
            width: 100px;
            border: 0;
            top: 0;
            right: 0;
            bottom: 0;
            transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

            @media screen and (min-width: 768px) {
                opacity: 0;
            }

            &:focus {
                outline: 0;
                opacity: 1;
            }

            &:active {
                background: rgb(102, 45, 68);
            }

            span {
                display: inline-block;
                width: 24px;
                height: 24px;
                font-size: 14px;
                line-height: 24px;
                border-radius: 50%;
                background: #fff;
            }
        }

        &:hover {
            button {
                opacity: 1;
            }
        }
    }
}
